<!doctype html>
<html lang=''>
<head>
   <link rel="stylesheet" href="/headerstyles.css">
   
   
   <title>CSS MenuMaker</title>
</head>
<body>
<center><img src="/logo.png"></img></center>
<div id='cssmenu'>
<ul>
   <li><a href='#'><span>Leave Credits of Faculty</span></a></li>
   <li><a href='#'><span>Faculty leave details</span></a></li>
   <li><a href='#'><span>Update</span></a></li>                <!--update faculty leave credits-->
</ul>
</div>

</body>
<html>
