<!doctype html>
<html lang=''>
<head>
   <link rel="stylesheet" href="/headerstyles.css"></link>
   <title>CSS MenuMaker</title>
</head>
<body>
<center><img src="/logo.png"></img></center>
<div id='cssmenu'>
<ul>
   <li><a href='/facultymain'><span>Apply leave</span></a></li>
   <li><a href='/fleaveavails'><span>Leave avails</span></a></li>
   <li><a href='#'><span>Status</span></a></li>
   <li><a href='#'><span>Leaves credit</span></a></li>
   <li><a href='/fpendingreqs'><span>Pending Requets</span></a></li>
</ul>
</div>

</body>
<html>